.wrapper {
    width: 80%;
    height: 200px;
    background-color: blue;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 30%;
    margin-top: 10px;
}

.btn-login {
    margin-top: 10px;
    width: 20%;
    background-color: greenyellow;
    outline: none;
    cursor: pointer;
}